# Environment Configuration - CampusConnect Lab 7 API Gateway & Microservices

# API Gateway Configuration
PORT=3000
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003

# Microservices Ports
USER_SERVICE_PORT=3001
PRODUCT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003

# Inter-Service Communication Timeout
INTER_SERVICE_TIMEOUT_MS=3000

# MongoDB Database Connection String (Local / Mongo Atlas)
MONGO_URI=mongodb://localhost:27017/campusconnect_db
